.ship-card {
    width: 300px;
    height: 380px;
    margin: 0 auto;
}

.ship-content {
    padding: 20px;
    text-align: center;
}

.ship-thumbnail {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.ship-actions {
    text-align: right;
}

.ship-action-cancel {
    margin-right: 10px;
}