<md-card class="ship-card">
    <md-card-header>
        <md-card-title>
            <h3>Add Ship</h3>
        </md-card-title>
    </md-card-header>

    <md-card-content class="ship-content">
        <form>
            <md-icon>star_rate</md-icon>
            <md-select placeholder="Ship Type" [(ngModel)]="selectedModel" name="ship" (change)="onShipTypeChange()">
                <md-option *ngFor="let model of filterSize(models)" [value]="model">
                    {{model.type}}
                </md-option>
            </md-select>
            <md-hint [hidden]="!typeExistsError" style="color: red">
                <div>
                    This type of ship already exists in the Inventory
                </div>
            </md-hint>
        </form>
        <img md-card-image src="{{shipService.getImage(selectedModel)}}" class="ship-thumbnail" *ngIf="selectedModel">
    </md-card-content>

    <md-card-footer class="ship-actions">
        <button md-raised-button (click)="goBack()" class="ship-action-cancel">Cancel</button>
        <button md-raised-button (click)="addShip()" color="accent">Add</button>
    </md-card-footer>
</md-card>