.ships-small {
    background-color: #ddd;
}

.ships-medium {
    background-color: #aaa;
}

.ships-large {
    background-color: #777;
}

.ship-size-title {
    padding: 10px;
    padding-left: 30px;
    background-color: #333;
    color: #eee;
}