<div *ngIf="tacticalPlan" class="inventory">
    <md-grid-list [cols]="cols | async" gutterSize="16px" rowHeight="300px" class="ships-small">
        <md-grid-tile *ngFor="let s of filterSize('S')">
            <ship-card [ship]=s>
            </ship-card>
        </md-grid-tile>
        <md-grid-tile *ngIf="shipsSmall?.length == 0" class="empty">
            <md-card class="empty-card">
                <div md-card-content class="card-content">Add fighters and single-seated small-sized ships under 30m.</div>
                <div class="card-corner card-corner-top"></div>
                <div class="card-corner card-corner-bottom"></div>
            </md-card>
        </md-grid-tile>
        <md-grid-tile>
            <button md-fab color="none" (click)="addS()" [disabled]="!shipService.isUnlocked()" class="add-button"><md-icon>add</md-icon></button>
        </md-grid-tile>
    </md-grid-list>
    <div class="horizontal-line"></div>
    <md-grid-list [cols]="cols | async" gutterSize="16px" rowHeight="300px" class="ships-medium">
        <md-grid-tile *ngFor="let s of filterSize('M')">
            <ship-card [ship]=s>
            </ship-card>
        </md-grid-tile>
        <md-grid-tile *ngIf="shipsMedium?.length == 0" class="empty">
            <md-card class="empty-card">
                <div md-card-content class="card-content">Add multi-crew medium-sized ships under 80m.</div>
                <div class="card-corner card-corner-top"></div>
                <div class="card-corner card-corner-bottom"></div>
            </md-card>
        </md-grid-tile>
        <md-grid-tile>
            <button md-fab color="none" (click)="addM()" [disabled]="!shipService.isUnlocked()" class="add-button"><md-icon>add</md-icon></button>
        </md-grid-tile>
    </md-grid-list>
    <div class="horizontal-line"></div>
    <md-grid-list [cols]="cols | async" gutterSize="16px" rowHeight="300px" class="ships-large">
        <md-grid-tile *ngFor="let s of filterSize('L')">
            <ship-card [ship]=s>
            </ship-card>
        </md-grid-tile>
        <md-grid-tile *ngIf="shipsMedium?.length == 0" class="empty">
            <md-card class="empty-card">
                <div md-card-content class="card-content">Add dominating large-sized ships over 80m.</div>
                <div class="card-corner card-corner-top"></div>
                <div class="card-corner card-corner-bottom"></div>
            </md-card>
        </md-grid-tile>
        <md-grid-tile>
            <button md-fab color="none" (click)="addL()" [disabled]="!shipService.isUnlocked()" class="add-button"><md-icon>add</md-icon></button>
        </md-grid-tile>
    </md-grid-list>
</div>