<div *ngIf="tacticalPlan">
    <div class="ship-size-title">Small &lt; 30m</div>
    <md-grid-list [cols]="cols | async" gutterSize="16px" rowHeight="300px" class="ships-small">
        <md-grid-tile *ngFor="let s of filterSize('S')">
            <ship-card [ship]=s>
            </ship-card>
        </md-grid-tile>
        <md-grid-tile>
            <button md-fab color="none" (click)="addS()" [disabled]="!shipService.isUnlocked()"><md-icon>add</md-icon></button>
        </md-grid-tile>
    </md-grid-list>
    <div class="ship-size-title">Medium &lt; 80m</div>
    <md-grid-list [cols]="cols | async" gutterSize="16px" rowHeight="300px" class="ships-medium">
        <md-grid-tile *ngFor="let s of filterSize('M')">
            <ship-card [ship]=s>
            </ship-card>
        </md-grid-tile>
        <md-grid-tile>
            <button md-fab color="none" (click)="addM()" [disabled]="!shipService.isUnlocked()"><md-icon>add</md-icon></button>
        </md-grid-tile>
    </md-grid-list>
    <div class="ship-size-title">Large &gt; 80m</div>
    <md-grid-list [cols]="cols | async" gutterSize="16px" rowHeight="300px" class="ships-large">
        <md-grid-tile *ngFor="let s of filterSize('L')">
            <ship-card [ship]=s>
            </ship-card>
        </md-grid-tile>
        <md-grid-tile>
            <button md-fab color="none" (click)="addL()" [disabled]="!shipService.isUnlocked()"><md-icon>add</md-icon></button>
        </md-grid-tile>
    </md-grid-list>
</div>