<div>
    <div class="ship-size-title">Small</div>
    <md-grid-list [cols]="cols | async" gutterSize="16px" rowHeight="300px" class="ships-small">
        <md-grid-tile *ngFor="let ship of ships">
            <ship-card>
            </ship-card>
        </md-grid-tile>
    </md-grid-list>
    <div class="ship-size-title">Medium</div>
    <md-grid-list [cols]="cols | async" gutterSize="16px" rowHeight="300px" class="ships-medium">
        <md-grid-tile *ngFor="let ship of ships">
            <ship-card>
            </ship-card>
        </md-grid-tile>
    </md-grid-list>
    <div class="ship-size-title">Large</div>
    <md-grid-list [cols]="cols | async" gutterSize="16px" rowHeight="300px" class="ships-large">
        <md-grid-tile *ngFor="let ship of ships">
            <ship-card>
            </ship-card>
        </md-grid-tile>
    </md-grid-list>
</div>