.container {
    text-align: center;
}

.loader {
    padding: 20px;
}

#text-label {
    display: none;
    position: absolute;
    z-index: 1;
    width: auto;
    white-space: nowrap;
    min-height: 40px;
}

#text-label:hover {
    background-color: #888;
}

.info {
    background-color: rgba(22,255,255,0.1);
    color: white;
    padding: 20px;
}

.save-image {
    position: absolute;
    right: 70px;
    top: 20px;
    z-index: 1;
}

.fullscreen {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}