.container {
    text-align: center;
}

.loader {
    padding: 20px;
}

#text-label {
    display: none;
    position: absolute;
    z-index: 1;
    width: auto;
    white-space: nowrap;
    min-height: 40px;
}

#text-label:hover {
    background-color: #aaa;
}