.container {
    text-align: center;
    background: url("~/assets/images/grid-bg.png") repeat center top;
    background-color: rgba(6, 70, 102, 0.2);
    height: 100%;
}

.sidenav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 64px;
    background: url("~/assets/images/inventory-bg.jpg") repeat;
}

.loader {
    padding: 20px;
    padding-top: 50px;
    color: #99e3f5;
}

#text-label {
    display: none;
    position: absolute;
    z-index: 1;
    width: auto;
    white-space: nowrap;
    min-height: 40px;
}

#text-label:hover {
    background-color: #888;
}

.info {
    background-color: rgba(22,255,255,0.1);
    color: white;
    padding: 20px;
}

.simulatorMenu {
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}

.progress-bar {
    background-color: #99e3f5;
}