<div>
    <md-sidenav-container class="sidenav">
        <md-sidenav mode="over" opened="false" align="end" class="info" (close-start)="onCloseShipInfo()" #shipInfo>
            <md-card *ngIf="selectedShip" class="info-card">
                <md-card-header style="padding: 20px;">
                    <img md-card-avatar src="{{shipService.getImage(selectedShip)}}">
                    <md-card-title>{{selectedShip.name}}</md-card-title>
                    <md-card-subtitle style="color: #80CADC;">Ship Info</md-card-subtitle>
                </md-card-header>
                <md-card-content style="padding: 20px;">
                    <md-slide-toggle color="warn" [(ngModel)]="selectedShipInstance.enemy" (change)="onShipInfoChange()" [disabled]="!shipService.isUnlocked()">
                        <span *ngIf="!selectedShipInstance.enemy">Ally</span>
                        <span *ngIf="selectedShipInstance.enemy">Enemy</span>
                    </md-slide-toggle>
                    <md-list>
                        <md-list-item style="color: #80CADC;">
                            <md-icon md-list-icon>bookmark</md-icon>
                            <h4 md-line>Role</h4>
                            <p md-line>{{selectedShip.role}}</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item style="color: #80CADC;">
                            <md-icon md-list-icon>people</md-icon>
                            <h4 md-line>Max Crew</h4>
                            <p md-line>{{selectedShip.maxcrew}}</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item style="color: #80CADC;">
                            <md-icon md-list-icon>layers</md-icon>
                            <h4 md-line>Cargo Capacity</h4>
                            <p md-line>{{selectedShip.cargo}}</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item style="color: #80CADC;">
                            <md-icon md-list-icon>flight</md-icon>
                            <h4 md-line>Pilot
                                <button md-button *ngIf="shipService.isUnlocked()" (click)="manageCrew()">
                                    <md-icon md-tooltip='Click here to add players.'>settings</md-icon>
                                </button>
                            </h4>
                            <md-select md-line placeholder="Select Pilot" color="primary" [(ngModel)]="selectedShipInstance.pilot" (change)="onShipInfoChange()"
                                [disabled]="!shipService.isUnlocked()">
                                <md-option *ngFor="let player of shipService.tacticalPlan.players" [value]="player">
                                    {{ player }}
                                </md-option>
                            </md-select>
                        </md-list-item>
                        <md-list-item *ngIf="selectedShip.maxcrew > 1" style="color: #80CADC;">
                            <md-icon md-list-icon>airline_seat_recline_extra</md-icon>
                            <h4 md-line>Crewmen</h4>
                        </md-list-item>
                        <md-list-item *ngIf="selectedShip.maxcrew > 1" style="color: #80CADC;">
                            <md-select style="padding-left: 10px;" color="primary" md-line placeholder="Select Crewman" *ngFor="let cm of Arr(selectedShip.maxcrew-1).fill(1); let i=index"
                                [(ngModel)]="selectedShipInstance.crewmen[i]" (change)="onShipInfoChange()" [disabled]="!shipService.isUnlocked()">
                                <md-option *ngFor="let player of shipService.tacticalPlan.players" [value]="player">
                                    {{ player }}
                                </md-option>
                            </md-select>
                        </md-list-item>
                    </md-list>
                </md-card-content>
                <div class="card-corner card-corner-top"></div>
                <div class="card-corner card-corner-bottom"></div>
            </md-card>
        </md-sidenav>

        <div class="background">
            <div class="tool-panel" *ngIf="loaded">
                <ul style="margin-top: 10px;">
                    <li style="background: rgba(6, 70, 102, 0.4);">
                        <button md-button (click)="resetAnimation()">
                        <md-icon>skip_previous</md-icon>
                    </button>
                    </li>
                            <li class="tools-divider">
                            </li>
                    <li style="background: rgba(6, 70, 102, 0.4);">
                        <button md-button (click)="playAnimation()">
                        <md-icon *ngIf="!play">play_arrow</md-icon>
                        <md-icon *ngIf="play">pause</md-icon>
                    </button>
                    </li>
                    <li style="width:250px;">
                        <md-progress-bar style="width: 100%; height: 20px;" color="primary" mode="determinate" [value]="currentTime / maxTime * 100">
                        </md-progress-bar>
                        <div>
                            <span style="float: left;">{{controller.currentAnimationFrame}} / 5 frames</span>
                            <span style="float: right;">{{timeSec}}s</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="camera-panel" *ngIf="loaded">
                <md-card class="cameras">
                    <div md-card-content>
                        <ul>
                            <li>
                                <button md-button (click)="switchCameraView()" md-tooltip='Change camera view.'>
                                <md-icon>explore</md-icon>
                            </button>
                            </li>
                            <li class="tools-divider">
                            </li>
                            <li>
                                <button md-button (click)="lookAtShip()" md-tooltip='Look closely at the selected ship.' [disabled]="controller.getAllSelected().length !== 1 || !shipService.isUnlocked()">
                                <md-icon>camera</md-icon>
                            </button>
                            </li>
                        </ul>
                    </div>
                </md-card>
            </div>
            <div class="ship-panel" *ngIf="loaded && controller.getAllSelected().length > 0 && shipService.isUnlocked()">
                <md-card class="ships">
                    <div md-card-content>
                        <ul>
                            <li>
                                <button md-button (click)="switchSide()" md-tooltip='Switch allies and enemies of selected ships.'>
                                    <md-icon>invert_colors</md-icon>
                                </button>
                            </li>
                            <li class="tools-divider">
                            </li>
                            <li>
                                <button md-button md-tooltip='Show info about the selected ship.' (click)="showInfo()" [disabled]="controller.getAllSelected().length > 1">
                                    {{controller.shipLabel}}
                                </button>
                            </li>
                        </ul>
                        <ul>
                            <li style="width:250px;">
                                <md-slider style="width:100%;" color="primary" [max]="5" min="0" value="1" step="1" tick-interval="1" (change)="onAnimationFrameChange()" [(ngModel)]="controller.currentAnimationFrame">
                                </md-slider>
                            </li>
                        </ul>
                    </div>
                    <div class="card-corner card-corner-top"></div>
                    <div class="card-corner card-corner-bottom"></div>
                </md-card>
            </div>
            <div id="container" class="container" #container>
                <section class="loader" [hidden]="loaded">
                    <h3>Loading ...</h3>
                    <md-progress-bar color="primary" mode="determinate" [value]="loadingProgress">
                    </md-progress-bar>
                </section>
            </div>
        </div>
    </md-sidenav-container>
</div>