<div>
    <md-sidenav-container class="sidenav">
        <md-sidenav mode="over" opened="false" align="end" class="info" (close-start)="onCloseShipInfo()" #shipInfo>
            <md-card *ngIf="selectedShip" class="info-card">
                <md-card-header style="padding: 20px;">
                    <img md-card-avatar src="{{shipService.getImage(selectedShip)}}">
                    <md-card-title>{{selectedShip.name}}</md-card-title>
                    <md-card-subtitle style="color: #80CADC;">Ship Info</md-card-subtitle>
                </md-card-header>
                <md-card-content style="padding: 20px;">
                    <md-slide-toggle color="warn" [(ngModel)]="selectedShipInstance.enemy" (change)="onShipInfoChange()" [disabled]="!shipService.isUnlocked()">
                        <span *ngIf="!selectedShipInstance.enemy">Ally</span>
                        <span *ngIf="selectedShipInstance.enemy">Enemy</span>
                    </md-slide-toggle>
                    <md-list>
                        <md-list-item style="color: #80CADC;">
                            <md-icon md-list-icon>bookmark</md-icon>
                            <h4 md-line>Role</h4>
                            <p md-line>{{selectedShip.role}}</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item style="color: #80CADC;">
                            <md-icon md-list-icon>people</md-icon>
                            <h4 md-line>Max Crew</h4>
                            <p md-line>{{selectedShip.maxcrew}}</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item style="color: #80CADC;">
                            <md-icon md-list-icon>layers</md-icon>
                            <h4 md-line>Cargo Capacity</h4>
                            <p md-line>{{selectedShip.cargo}}</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item style="color: #80CADC;">
                            <md-icon md-list-icon>flight</md-icon>
                            <h4 md-line>Pilot
                                <button md-button *ngIf="shipService.isUnlocked()" (click)="manageCrew()">
                                    <md-icon md-tooltip='Click here to add players.'>settings</md-icon>
                                </button>
                            </h4>
                            <md-select md-line placeholder="Select Pilot" color="primary" [(ngModel)]="selectedShipInstance.pilot" (change)="onShipInfoChange()"
                                [disabled]="!shipService.isUnlocked()">
                                <md-option *ngFor="let player of shipService.tacticalPlan.players" [value]="player">
                                    {{ player }}
                                </md-option>
                            </md-select>
                        </md-list-item>
                        <md-list-item *ngIf="selectedShip.maxcrew > 1" style="color: #80CADC;">
                            <md-icon md-list-icon>airline_seat_recline_extra</md-icon>
                            <h4 md-line>Crewmen</h4>
                        </md-list-item>
                        <md-list-item *ngIf="selectedShip.maxcrew > 1" style="color: #80CADC;">
                            <md-select style="padding-left: 10px;" color="primary" md-line placeholder="Select Crewman" *ngFor="let cm of Arr(selectedShip.maxcrew-1).fill(1); let i=index"
                                [(ngModel)]="selectedShipInstance.crewmen[i]" (change)="onShipInfoChange()" [disabled]="!shipService.isUnlocked()">
                                <md-option *ngFor="let player of shipService.tacticalPlan.players" [value]="player">
                                    {{ player }}
                                </md-option>
                            </md-select>
                        </md-list-item>
                    </md-list>
                </md-card-content>
                <div class="card-corner card-corner-top"></div>
                <div class="card-corner card-corner-bottom"></div>
            </md-card>
        </md-sidenav>

        <div class="background">
            <md-card class="tools" *ngIf="loaded">
                <div md-card-content>
                    <ul>
                        <li>
                            <button md-button [mdMenuTriggerFor]="simulatorMenu">
                                <md-icon>more_horiz</md-icon>
                            </button>
                            <md-menu #simulatorMenu [overlapTrigger]="false">
                                <button md-menu-item (click)="manageCrew()" [disabled]="!shipService.isUnlocked()">
                                    <md-icon md-tooltip='Click here to add players.'>airline_seat_recline_extra</md-icon>
                                    <span>Crew Management</span>
                                </button>
                                <button md-menu-item (click)="toggleLines()">
                                    <md-icon>border_style</md-icon>
                                    <span *ngIf="!aidsVisible">Show Visual Aids</span>
                                    <span *ngIf="aidsVisible">Hide Visual Aids</span>
                                </button>
                                <button md-menu-item (click)="toggleFullscreen()">
                                    <md-icon>photo_camera</md-icon>
                                    <span>Save Image</span>
                                </button>
                                <button md-menu-item (click)="saveImage()">
                                    <md-icon>fullscreen</md-icon>
                                    <span>Fullscreen</span>
                                </button>
                                <button md-menu-item (click)="showControls()">
                                    <md-icon>games</md-icon>
                                    <span>Open Controls</span>
                                </button>
                            </md-menu>
                        </li>
                        <li class="tools-divider">
                        </li>
                        <li>
                            <button md-button (click)="switchCameraView()" md-tooltip='Change camera view.'>
                                <md-icon>explore</md-icon>
                            </button>
                        </li>
                        <li class="tools-divider">
                        </li>
                        <li>
                            <md-button-toggle (change)="rotateTowards()" md-tooltip='Rotate selected ship towards mouse target.' [checked]="rotation" class="toggle-button mat-button-toggle-checked mat-button-toggle-disabled" [disabled]="!controls.selected && controls.selectedObjects.length == 0 || !shipService.isUnlocked()">
                                <md-icon>rotate_90_degrees_ccw</md-icon>
                            </md-button-toggle>
                        </li>
                        <li class="tools-divider">
                        </li>
                        <li>
                            <button md-button (click)="rotateReset()" md-tooltip='Reset rotation of the selected ship(s).' [disabled]="!controls.selected && controls.selectedObjects.length == 0 || !shipService.isUnlocked()">
                                <md-icon>airplay</md-icon>
                            </button>
                        </li>
                        <li class="tools-divider">
                        </li>
                        <li>
                            <button md-button (click)="switchSide()" md-tooltip='Switch allies and enemies of selected ships.' [disabled]="!controls.selected && controls.selectedObjects.length == 0 || !shipService.isUnlocked()">
                                <md-icon>invert_colors</md-icon>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="card-corner card-corner-top"></div>
                <div class="card-corner card-corner-bottom"></div>
            </md-card>
            <div class="container" #container>
                <button id="text-label" md-raised-button color='none' (click)="showInfo()"></button>
                <section class="loader" [hidden]="loaded">
                    <h3>Loading ...</h3>
                    <md-progress-bar color="primary" mode="determinate" [value]="loadingProgress">
                    </md-progress-bar>
                </section>
            </div>
        </div>
    </md-sidenav-container>
</div>