.spacer {
    flex: 1 1 auto;
}

.inventoryActive {
    display: none;
}

.simulatorActive {
    display: none;
}

.donate {
    background-image: url("~/assets/images/donate.png");
    width: 91px;
    height: 36px;
    margin-right: 15px;
}