<main class="main">
  <md-toolbar class="toolbar">

    <div class="toolbar-left">
      <div class="tl-horizontal">
        <button md-icon-button [mdMenuTriggerFor]="menu" class="button" style="margin-top: 5px;">
        <md-icon>menu</md-icon>
      </button>

        <div class="logo"></div>

        <md-menu #menu="mdMenu" [overlapTrigger]="false">
          <button md-menu-item (click)="newTacticalPlan()">
              <md-icon>clear_all</md-icon>
              <span>New Tactical Plan</span>
          </button>
          <button md-menu-item (click)="saveImage()" *ngIf="isSimulator()">
              <md-icon>photo_camera</md-icon>
              <span>Save Image</span>
          </button>
          <button md-menu-item (click)="lock()" *ngIf="!shipService.tacticalPlan.passwordHash">
              <md-icon>lock_outline</md-icon>
              <span>Lock</span>
          </button>
          <button md-menu-item (click)="unlock()" *ngIf="shipService.isConnected() && shipService.tacticalPlan.passwordHash" [disabled]="shipService.isUnlocked()">
              <md-icon>lock_open</md-icon>
              <span>Unlock</span>
          </button>
          <button md-menu-item (click)="toggleFullscreen()">
              <md-icon>fullscreen</md-icon>
              <span>Fullscreen</span>
          </button>
          <button md-menu-item (click)="showControls()" *ngIf="isSimulator()">
              <md-icon>games</md-icon>
              <span>Open Controls</span>
          </button>
          <button md-menu-item (click)="openSettings()" *ngIf="shipService.isConnected()">
              <md-icon>settings</md-icon>
              <span>Settings</span>
          </button>
          <md-divider></md-divider>
          <button class="donate" (click)="donate()" md-menu-item></button>
        </md-menu>

        <a href="#" (click)="welcome()" class="title">UEE Tactical Communications Interface</a>
        <button md-tooltip='Tactical plan is locked' md-button *ngIf="!shipService.isUnlocked()" (click)="unlock()" class="lock-button">
        <md-icon>lock_outline</md-icon>
      </button>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="toolbar-right">
      <div class="tl-action">
        <div class="tl-action-highlight">
          <button md-raised-button color="primary" routerLink="/inventory" routerLinkActive="inventoryActive" (click)="inventory()"
            class="button primary-button" skipLocationChange>
          <i class="material-icons">view_list</i>
          Inventory
        </button>
          <button md-raised-button color="primary" routerLink="/simulator" routerLinkActive="simulatorActive" (click)="simulator()"
            class="button primary-button" skipLocationChange [disabled]="!shipService.isReady()">
          Simulate
          <i class="material-icons">play_circle_outline</i>
        </button>
        </div>
        <div>
        </div>
  </md-toolbar>
  <div class="content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</main>