.title {
    overflow: hidden;
}

.primary-button {
    min-width: 100px;
}

.spacer {
    flex: 1 1 auto;
}

.inventoryActive {
    display: none;
}

.simulatorActive {
    display: none;
}

.donate {
    background-image: url("~/assets/images/donate.png");
    width: 91px;
    min-width: 91px;
    height: 36px;
    margin: 0 auto;
}

.donate:hover {
    background-image: url("~/assets/images/donate.png");
    width: 91px;
    min-width: 91px;
    height: 36px;
    margin: 0 auto;
}