.main {
  background: url("~/assets/images/inventory-bg.jpg") repeat;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(2, 14, 27, 1.0);
  z-index: 5;
  border-bottom: 1px solid #0c67a1;
}

.content {
    padding-top: 64px;
    background: url("~/assets/images/grid-bg.png") repeat center top;
    background-color: rgba(6, 70, 102, 0.2);
}

.title {
    overflow: hidden;
    color: #99e3f5;
    cursor: default;
}

.primary-button {
    min-width: 100px;
}

.spacer {
    flex: 1 1 auto;
}

.inventoryActive {
    display: none;
}

.simulatorActive {
    display: none;
}

.logo {
    background-image: url("~/assets/images/logo.png");
    width: 76px;
    min-width: 76px;
    height: 64px;
}

.donate {
    background-image: url("~/assets/images/donate.png");
    width: 91px;
    min-width: 91px;
    height: 36px;
    margin: 0 auto;
}

.donate:hover {
    background-image: url("~/assets/images/donate.png");
    width: 91px;
    min-width: 91px;
    height: 36px;
    margin: 0 auto;
}

.button {
    background: rgba(6, 70, 102, 0.4);
    color: #99e3f5;
}