.border {
    padding: 20px;
}

.container {
    padding: 0px;
    background: rgba(6, 70, 102, 0.4);
    color: #99e3f5;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 660px;
}

.content {
    padding: 24px;
    text-align: center;
}

.input {
    font: 16px/20px Electrolize;
    margin: 20px;
    width:300px;
    padding: 5px;
}

.highlight {
    background-color: rgba(153, 227, 245, 0.6);
    color: black;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.card-corner {
    position: absolute;
    width: 100%;
}

.card-corner::before {
    left: 0px;
}

.card-corner::after {
    right: 0px;
}

.card-corner-top {
    top: 0px;
}

.card-corner-top::before {
    border-width: 1px 0 0 1px;
}

.card-corner-top::after {
    border-width: 1px 1px 0 0;
}

.card-corner::before,
.card-corner::after {
    top: 0;
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-color: #00edff;
    border-style: solid;
}

.card-corner-bottom {
    bottom: 9px;
}

.card-corner-bottom::before {
    border-width: 0 0 1px 1px;
}

.card-corner-bottom::after {
    border-width: 0 1px 1px 0;
}

.link {
    color: #00edff;
}