<div class="border">
    <md-card class="container">
        <div class="content">
            <h1 style="font: 32px/36px Electrolize;">WELCOME CITIZEN</h1>
            <p>
                UEE Tactical Communications Interface is a tool and fan project for tactical planning in <a href="https://robertsspaceindustries.com/"
                    target="blank" class="link">Star Citizen</a>, the game from CIG.
            </p>
            <div style="text-align: left;">
                <h4 style="margin: 10px; margin-top: 20px;">1. Add Ships to Inventory</h4>
                <ul style="margin-left: 20px;">
                    <li style="line-height: 20px;">
                        Ships are divided into 3 categories: Small, Medium, and Large.
                    </li>
                    <li style="line-height: 20px;">
                        Every category is visualized in a separate row
                    </li>
                    <li style="line-height: 20px;">
                        <div style="float:left;">
                            To add a ship from the specific category click on the button:
                        </div>
                        <div class="add-button"></div>
                    </li>
                </ul>
                <div class="inventory"></div>
                <h4 style="margin: 10px; margin-top: 20px;">2. Simulate and Make a Tactical Plan</h4>
                <p>
                    Once your list of ships in the Inventory is ready, click on the Simulate button.
                </p>
                <div class="simulation"></div>
                <h4 style="margin: 10px; margin-top: 20px;">3. Share the Tactical Plan with your friends</h4>
                <p>
                    Copy &amp; Paste the URL. Be aware that a tactical plan which has not been viewed for more than 3 months will be removed.
                </p>
                <h4 style="margin: 10px; margin-top: 20px;">4. Love the tool? Do you want to contribute?</h4>
                <ul style="margin-left: 20px;">
                    <li style="line-height: 20px;">
                        As a new Citizen you can use my referral code when you sign up for your new RSI account and you will get 5 000 UEC as a bonus:
                        <strong>STAR-W2V7-3TLP</strong>
                    </li>
                    <li style="line-height: 20px;">
                        As a Senior Citizen you can up-vote my <a href="https://robertsspaceindustries.com/community/citizen-spotlight/"
                            target="blank" class="link">Spotlight Post</a>
                    </li>
                    <li style="line-height: 20px;">
                        To support the project, its development, operating costs, and maintenance you can <a href="https://donorbox.org/uee-tactical-communications-interface"
                            target="blank" class="link">Donate via Paypal</a>
                    </li>
                </ul>
            </div>
            <div style="width: auto;margin: 0 auto;padding: 20px;">
                <button md-button style="background-color: #80CADC; color: rgba(6, 70, 102, 1.0); width: 250px; height: 60px; font: 32px/36px Electrolize;"
                    (click)="getStarted()">GET STARTED</button>
            </div>
        </div>
        <div class="card-corner card-corner-top"></div>
        <div class="card-corner card-corner-bottom"></div>
    </md-card>
</div>